/* General styles */
p, a, h1, h2, h6{
    font-family:"Inter", sans-serif;   
}

a:link{
    text-decoration: none;
    color: #2D3436;
}


.btn{
    font-family:"Inter", sans-serif;
}

.content-container{
    margin: 0 auto;
    max-width: 70%; 
    padding: 0 15px; 
}

/* Header Menu */
.nav-link{
    font-family:"Inter", sans-serif;
    font-weight: 400;
    color: #6C5CE7;
}

.active{
    color:#2D3436;
    font-weight: 500;
}

.navbar{
    filter: drop-shadow(rgba(150, 149, 149, 0.464) 1px 1px 10px)
}

.navbar-brand{
    font-weight: 700;
    font-family:"Inter", sans-serif;
    color:#2D3436;
}

.navButton{
    font-family:"Inter", sans-serif;
    font-weight: 400; 
    border-radius: 20px;
    padding:10px 30px 10px 30px;
}

/* Hero Grid */

h1{
    font-size: 4rem;
    font-weight: 900;
}

h2{
    font-size: 3rem;
    font-weight: 900;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 10fr 4fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}
.item1{
    grid-column: 1 ;
    grid-row: 1; 
}

.item2{
    background-color:#00B894 ;
    grid-column: 2 / span 2;
    grid-row:1 / span 2;
    border-radius: 15px;
}
.item3{
    grid-column: 4 / span 2;
}

.item4{
    grid-column: 1;
    grid-row:2 / span 3;
    background-color: #FDCB6E;
    border-radius: 15px;
}

.item5{
    grid-column: 4;
    grid-row: 2;
    background-color: #A29BFE;
    border-radius: 15px;
}

.item6{
    grid-column: 5;
    grid-row: 2;
    background-color: rgb(44, 175, 215);
    border-radius: 15px; 
}

.item7{
    grid-column: 1;
    grid: 4;
}

.item8{
    grid-column: 2;
    grid-row: 3 / span 3;
    background-color: #E84393;
    border-radius: 15px; 
}

.item9{
    grid-column: 3 / span 2;
    grid-row: 3 / span 4;
    background-color: #6C5CE7;
    border-radius: 15px; 
}

.item10{
    grid-column: 5;
    grid-row: 3 / span 3;
    background-color: #FF7675;
    border-radius: 15px;  
}

/* Delivering Good Designs */

.goodDesigns {
    display: flex;
    justify-content: center;
}



h3{
    font-family:"Inter", sans-serif;
    font-weight: 800; 
}

.desc{
    font-family:"Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}

.brandIcons{
    width: 56px;
}

h4{
    font-family:"Inter", sans-serif;
    font-weight: 800;   
}

.prodDesc{
    font-size: 14px;
    line-height: 32px;
}

.prodBtn{
    font-weight:700;
    border: 1px solid #ADADAD;
    font-size:14px;
    margin-top: 1rem;
}

/* Footer */

.text-center{
    font-size: 12px;
}
.greenText{
    color: #00B894;
}
.sitemap{
    column-count: 3;
    font-family:"Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
}

h6{
    font-family:"Inter", sans-serif;
    font-weight: 800; 
    font-size: 12px;
    color: #ADADAD;  
}

address{
    font-weight: 800;
}

form{
    font-family:"Inter", sans-serif;
    font-size: 12px;
}

.formBtn{
    background-color: #6C5CE7;
    color: white;
    font-weight: 700;
    padding: 20px;
}

.fixBottom{
  bottom: 0;
  width: 100%;
}

/* Breakpoint for big screen*/
/* 768 is breakpoint bc we are using md for most bootstrap breakpoint */
@media only screen and (min-width: 768px) {


}